.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.formdiv {
  height: 100vh;
  background-color: rgb(51, 161, 192);
}

.logindiv {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.user {
  padding-top: 50px;
}

.innerform {
  background-color: skyblue;
  width: 50%;
  margin: auto;
  border-radius: 10px;


}

.innerhome {
  background-color: rgb(31, 194, 191);
  width: 30%;
  border-radius: 8px;
  margin: auto;
  position: relative;
  top: 170px;
  color: red;

}

.homediv {
  height: 100vh;
  background-size: cover;
  background: url('./Assets/Images/jamie-street-DZ3ixpNPt7c-unsplash.jpg')no-repeat center;
}

.login-container {
  background: rgba(119, 198, 129, 0.653);
  height: 100vh;
}

p {
  color: red;
}

div.category {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
  align-content: center;
  margin-top: 130px;
  position: relative;
  left: 130px;
}

div.left {
  width: 50%;

}

div.right {
  width: 50%;
}

div.left img {
  height: 155px;
  width: 263px;
}

div.right img {
  height: 60%;
  width: 40%;
}
 


.DogFood {
  width: 50%;
  height: 50%;

}

ul {
  list-style: none;

}

.doglist {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment {
  background-color: skyblue;
  margin: auto;
  width: 30%;
  padding: 50px;
  border-radius: 8px;
  margin-top: 150px;
}

.payment div {
  padding-bottom: 20px;
  color: rgba(204, 17, 17, 0.689);
  font-size: 30px;
  cursor: pointer;
  margin: 10px 0;
  border: 2px solid darkblue;
}

.payment div:hover {
  font-size: 25px;
  color: green;
  border: none;
}
 

nav {
  z-index: 1;
}

#side {
  display: flex;
  justify-content: stretch;

}

.adminMain {
  background-color: #8997b3;
  margin: 0;
  height: 100px;
  align-items: center;
}

.leftSide {
  text-decoration: none;
  color: #fff;
  background-color: #282c34;
  flex: 2;


}

.right {
  flex: 10;
}

#users {
  background-color: #EAECF0;
}

#users ul li {
  border: 1px solid red;
  width: 40%;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  position: relative;
  left: 350px;

}

#users ul :hover {
  background-color: #61dafb;
  cursor: pointer;
  border-radius: 60px;
}

#users ul li :hover {
  background: none;
}

#users ul li img {
  width: 30px;
}


.formForAdmin {
  border: 1px solid red;
  border-radius: 8px;
  width: 25%;
  margin-top: 130px;
  background-color: #61dafb;
  position: relative;
  left: 600px;

}

ul.productsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.ProductsItem {
  border: 1px solid red;
  margin: 20px 0;

  border-radius: 8px;

}

.itemHead {
  background-color: green;
  padding: 12px 16px;
  display: inline-block;
  border-radius: 8px;
  margin-top: 20px;
  color: #fff;
}

.cart:hover {
  cursor: pointer;
}

.mainSearch {
  border: 2px solid #c51111;
  border-radius: 10px;
   

}

ul.ForNav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 10px 20px;
  padding-bottom: 10px;
  font-family: serif;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid red;

}

aside.left {
  border: 1px solid skyblue;
  padding: 20px;
  display: flex;
  position: absolute;
  flex-direction: column;
  font-family: serif;
  cursor: pointer;
  border-radius: 20px;
}
aside.left h2{
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

aside.left h5 {
  padding-top: 10px;
  border-bottom: 2px solid grey;
  
}
aside.left h5:hover{
  color: skyblue;
}

ul.ForNav li:hover {
  border-radius: 8px;
  border: 1px solid red;
  padding: 0 14px;
  cursor: pointer;
}

.headingMain {
  font-family: Verdana, Geneva, Tahoma, sans-serif sans-serif;
}


@media (max-width: 950px){
  aside.left{
    display: none;
  }
}
@media (max-width: 673px) {
  div.category {
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: absolute;
    right: 100px;
    width: 60%;
  }
  ul.ForNav{
    display: flex;
    flex-wrap: wrap;
    flex: 5;
    
  }
  ul.ForNav h5{
    margin-right: 15px;
    color: antiquewhite;
  }
  

  div.category img.mainCat {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
  }

  div.left {
    position: relative;
    right: 60px;
  }

  div.right {
    position: relative;
    right: 60px;

  }

  div.category img.mainDog {
    height: 100px;
    width: 100px;
  }

}
.searchProduct  ul{
  display: flex;
  justify-content: start;
}
.searchProduct img{
 width: 20px;
}


@media (max-width: 426px) {
  nav ul {
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    margin-top: 20px;
  }

  .productTimeLogo {
    display: none;
  }

  .goto {
    display: none;

  }
}

@media (max-width: 742px) {
  .innerform {
    background: none;
    border: 1px solid red;
    width: 100%;
  }

  form.registerForm {
    background: none;
    box-shadow: none;

  }
}

@media (max-width: 746px) {
  form.registerForm {
    display: none;
  }
}

@media (min-width: 746px) {
  form.registerForm-width {
    display: none;
  }
}

@media (max-width: 381px) {
  .innerform {
    border: none;
  }
  nav{
    height: 30%;
  }

}